form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem
  }
  .error{
    color: red;
  }

  .gen{
    flex: 1 0 10rem
  }
  .button{
    flex: 1 0 5rem
  }
  
  label {
    display: block;
    /* margin-bottom: 10px; */
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(214, 211, 211);
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 21px;
    height:min-content;
        border: none;
        padding: 10px 15px;


  }
  
  button:hover {
    background-color: #45a049;
  }

  input:focus {
    border: 1px solid rgb(0, 208, 255);
  }
  