@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  width: 70vh;
  margin: 5rem auto;
}


form {
  font-family: Raleway;
  display: flex;
  flex-direction: column;
  width: 100%;
}

input,
select {
  padding: 7px;
  height: 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(182, 182, 182);
  margin-bottom: 0.3rem;
}

form p {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  color: red;
  font-size: 12px;
}

input:focus {
  border: 1px solid rgb(0, 208, 255);
}